.coursesContainer{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(4,1fr);
}
@media (min-width:240px) and (max-width:880px){
    .coursesContainer{
        grid-template-columns: 1fr;
    }
}